<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Secccc</title>
	<link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>Sec says...</h1>
        Ahalan Olam! <strong>{{ boldmessage }}</strong><br />
	<p/>
        <a href="/sec/about/">About</a><br />
	<h1>Including Static Media</h1>
        <img src="{% static "rango.jpg" %}" alt="Picture of Rango" /> <!-- Images -->
        <img src="{% static "rango.jpg" %} alt="Picture of Rango" /> <!-- New line -->
    </body>

</html>
